@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: white;
}

section {
  width: 80%;
  margin: 4rem auto;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0;
  gap: 2rem;
}

.head-score {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.refresh-btn {
  width: 20%;
  align-self: flex-end;
  padding: 0.2rem;
}

.all-scores {
  border: 2px solid black;
}

.list-item {
  padding: 0.5rem;
}

.list-item:nth-child(even) {
  background-color: rgb(211, 204, 204);
}

form {
  width: 100%;
}

.user-input,
form {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.user-input h2,
input {
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
}

.btn {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  background: transparent;
  cursor: pointer;
  border-radius: 2px;
}

.btn:hover {
  background-color: #12bb6f;
  color: #fff;
}
